dotenv
h5py
linmix
findiff
Flask
matplotlib
matplotlib-inline
plotly
numba
prometheus-client
pickle
openpyxl==3.0.10
pandas==1.4.4
prettytable
pytest
regex
scipy
scikit-learn
websocket-client 
SQLAlchemy
seaborn
Sphinx
statsmodels
